body {
    background-color: beige;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

@keyframes headerAnimation {
    0% {color: red}
    50% {color: green}
    100% {color: blue}
    
}

h1#siteHeader {
    animation-name: headerAnimation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}


#titleImg {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#ellie,
#octane,
#snowboard,
#jujitsu {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
}

ul {
    width: 7%;
    margin-left: 730px;
}

#tocheader {
    text-decoration-line: underline;
}

a {
    color: red;
}

a:hover {
    color: black;
}

